<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ page.title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/assets/css/style.css">
  <script>
  document.addEventListener('DOMContentLoaded', function () {
    const burger = document.querySelector('.burger');
    const nav = document.querySelector('.main-nav');

    burger.addEventListener('click', function () {
      nav.classList.toggle('open');
    });
  });
</script>

</head>
<body>

  {% include header.html %}

  <main>
    {{ content }}
  </main>

  {% include footer.html %}

</body>
</html>
